﻿@model IEnumerable<CS460Final.Models.Artwork>

@{
    ViewBag.Title = "Art Work";
}

<h2>ArtWork</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITLE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITLE)
        </td>
    </tr>
}

</table>
