﻿@model IEnumerable<CS460Final.Models.Classification>

@{
    ViewBag.Title = "Classifcations";
}

<h2>Classifcations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artwork.TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artwork.TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.NAME)
        </td>

    </tr>
}

</table>
