﻿@model IEnumerable<CS460Final.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Art Inventory Application</h2>
<h3>Select a Genre Below:</h3>
<div class="container">
    @using (Html.BeginForm())
    {
        foreach (var item in Model)
        {
            <div>
                @Html.RadioButtonFor(g => item.NAME, item.ID, new { id = item.ID })
                @Html.Label(item.NAME)
            </div>

        }
        <input type="submit" value="Select" id="ViewGenre"/>
    }

</div>

    <table id="results" class="table-striped table-bordered table">
        <thead><tr><th>Title</th><th>Artist</th></tr></thead>
        <tbody id="tableBody">
            <tr><td></td></tr>
        </tbody>

    </table>



@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/Scripts.js"></script>
}

