﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CS460-HW4</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="styelsheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Loan Calculator Application </h1>
        <h4>HW4</h4>
    </div>
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Loan Application", "LoanApp", "Home")</li>
                        <li>@Html.ActionLink("Change Pin", "ResetPin", "Home")</li>
                        <li>@Html.ActionLink("Loan Calculator", "LoanCalc", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Use a viewbag to present the information from the loan app form-->
        <h4>@ViewBag.MonthlyPayment</h4>
    </div>

</body>
</html>


