﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CS460-HW4</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="styelsheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Loan Calculator Application </h1>
        <h4>HW4</h4>
    </div>
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Loan Application", "LoanApp", "Home")</li>
                        <li>@Html.ActionLink("Change Pin", "ResetPin", "Home")</li>
                        <li>@Html.ActionLink("Loan Calculator", "LoanCalc", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <p>Loan Application</p>
        <p>Please fill out the necessary information:</p>
        <form method="post">
            <label>User Name:  </label>
            <input type="text" name="UserName" /><br />
            <label>Old Pin:  </label>
            <input type="number" name="OldPin" /><br />
            <label>New Pin:  </label>
            <input type="number" name="NewPin" />
            <input type="submit" name="submit" value="Change Pin" />
        </form>
        <!--Use the viewbag to present the data from the reset pin form-->
        <p class="center-block">@ViewBag.message</p>
    </div>

</body>
</html>
