﻿@model IEnumerable<Pirates.ViewModel.PirateBooty>

@{
    ViewBag.Title = "CrewGroup";
}

<h2>CrewGroup</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PirateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalBooty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PirateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalBooty)
        </td>
    </tr>
}

</table>
