﻿@model IEnumerable<Pirates.Models.Crew>

@{
    ViewBag.Title = "Crews";
}

<h2>Crews</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pirate.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOTYVALUE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pirate.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOTYVALUE)
        </td>
    </tr>
}

</table>
