﻿
@{
    ViewBag.Title = "Index";
}

<h2>Stock Information Appliction</h2>
<div id="formInput">
    <form>
        <input id="Stock" name="Stock" type="text"/>
        <input id="Submit" type="button" name="Submit" value="Get Info"/>
    </form>
</div>

<div id="results">


</div>

<div id="graph">


</div>

@section PageScripts
{

    <script type="text/javascript" src="~/Scripts/Scripts.js"></script>
    <script type="text/javascript" src="~/Scripts/Dygraphs.js"></script>
}
