﻿@*@model JsonResult*@
@{
        ViewBag.Title = "CrewGroup";

    }

<h2>Pirate Booty Totals</h2>

<table id="pirateTable" class="table-striped table-bordered table">
    <thead><tr><th>Pirate Name</th><th>Total Booty</th></tr></thead>
    <tbody id="tableBody" >
       <tr><td></td></tr>
    </tbody>

</table>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/Scripts.js"></script>
}
