﻿@model IEnumerable<PiratesLocal2016.Models.Crew>

@{
    ViewBag.Title = "Crews";
}

<h2>Crews</h2>

<table class="table">
    <tr>
        <th>
            Pirate Name
        </th>
        <th>
           Ship Name
        </th>
        <th>
            Booty Value
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pirate.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOTYVALUE)
        </td>
    </tr>
}

</table>
