﻿@model IEnumerable<PiratesLocal2016.ViewModels.PirateBooty>

@{
    ViewBag.Title = "Pirate Booty Totals";
}

<h2>Pirate Booty Totals</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PirateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalBooty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PirateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalBooty)
        </td>

    </tr>
}

</table>
