﻿@model ProductGuide.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="styelsheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Product Guide </h1>
        <h4>HW6</h4>
    </div>
    <div class="container">
        <div class="navbar navbar-inverse">            
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav text-center">
                        <!--use actionlink to create links to other pages in the menu-->
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("View Products", "Index", "Product")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <h3>Product Details: @Html.DisplayFor(model => model.ProductSubcategory.Name) </h3>
            <h4>
                @Html.DisplayFor(model => model.ProductModel.Name) 
            </h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProductNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ListPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ListPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Size)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Size)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Weight)
                </dd>

                
            </dl>
        </div>
        <p>
             @Html.ActionLink("Back", "Index") |
            @Html.ActionLink("Review", "Review", new { id = Model.ProductID })
        </p>
        </div>
</body>
</html>
