﻿@model IEnumerable<ProductGuide.Models.ProductCategory>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="styelsheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Product Guide </h1>
        <h4>HW6</h4>
    </div>
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav text-center">
                        <!--use actionlink to create links to other pages in the menu-->
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("View Products", "Index", "Product")</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3>Please make selection to view sub-categories</h3>
    </div>
    <div class="container">
        @using (Html.BeginForm())
        {

            foreach (var item in Model)
            {
                <div>
                    @Html.RadioButtonFor(s => item.ProductCategoryID, item.ProductCategoryID, new { id = item.ProductCategoryID })
                    @Html.Label(item.Name)
                </div>
            }
            <input type="submit" value="Select" />
        }
    </div>

</body>
</html>
