﻿@model PagedList.IPagedList<ProductGuide.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="styelsheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Product Guide </h1>
        <h4>HW6</h4>
    </div>
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav text-center">
                        <!--use actionlink to create links to other pages in the menu-->
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("View Products", "Index", "Product")</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3>Select an item to see details</h3>
        <table class="table">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            var ProdId = item.ProductID;
                            var productName = item.Name;
                            ViewBag.id = item.ProductSubcategoryID;
                        }
                        @Html.ActionLink(productName, "Details", new { id = ProdId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>

                </tr>
                            }

        </table>
        Page@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Product", "Product",
    new { page, subId = ViewBag.id }))

        @Html.ActionLink("Back", "Index")

    </div>
</body>
</html>
