﻿@model IEnumerable<StockInfo.Models.UserLog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.STOCKSYMBOL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BROWSER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIMESTAMP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.STOCKSYMBOL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BROWSER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIMESTAMP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
