/*	name:  styles.css
	author:  Rikki Swetzof
	purpose:  CSS for CS460
	date:  10/2/16*/
	
	.jumbotron
	{
		background-image:  url("../images/beach.gif");
		background-position:  center;
		background-repeat:  no-repeat;
		background-color:  #5F6E90;
		color:  #FFFFFF;
	}
	.navbar
	{
		background-color:  #026072 !important;
		color:  #D7C986 !important;
		
	}
	
	.nav>li a:hover
	{
	
		background-color: #E55B4C !important;
	}
	
	
	.main
	{
		background-color:  #FFFFFF
	}
	
	.side
	{
		background-color:  #D8E8EB
	}
	
	footer a
	{
		background-color:  #317F8D;
		color:  #E55B4C;
	}
	
	body
	{
	
	}
	
	
	h1
	{
		color:  #E55B4C;
	}
	
	a:hover
	{
		color:  #E55B4C;
	}