﻿@model CS460Final.Models.Artist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIRTHDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIRTHDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIRTHCITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIRTHCITY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
