﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CS460-HW5</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="styelsheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Change Major / Minor / Advisor </h1>
        <h4>HW5</h4>
    </div>
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav text-center">
                        <!--use actionlink to create links to other pages in the menu-->
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Change Request", "ChangeReq", "Student")</li>
                        <li>@Html.ActionLink("Review Requests", "ReviewReqs", "Student")</li>
                    </ul>
                </div>
            </div>
        </div>
        <p>Welcome to the home page!</p>
        <p>Select an action from the menu to proceed.</p>
    </div>

</body>
</html>
